.carousel-content {
  		position: absolute;
  		bottom: 10%;
  		left: 5%;
  		z-index: 20;
  		color: white;
  		text-shadow: 0 1px 2px rgba(0,0,0,.6);
		}


a:link 		{
		font-family: "Comic Sans MS", cursive, sans-serif;    		
		color: black;
    		background-color: transparent;
    		text-decoration: none;
		}
a:visited 	{
    		font-family: "Comic Sans MS", cursive, sans-serif;
		color: pink;
    		background-color: transparent;
    		text-decoration: none;
		}
a:hover 	{
    		font-family: "Comic Sans MS", cursive, sans-serif;
		color: black;
    		background-color: transparent;
    		font-weight: bold;
		}
a:active 	{
    		font-family: "Comic Sans MS", cursive, sans-serif;
		color: none;
    		background-color: transparent;
    		text-decoration: none;
		}

p 	{
				color: #ff3300;
				font-family: "Comic Sans MS", cursive, sans-serif;
				}

body 	{
				background color: #eeffe6;
				}


h1		{
		font-weight: bold;
		font-size: 45px;
		margin: 2px 0px 2px 0px;
		color: #071a38;
		text-align: center;
		}
.menutable 	{
		background: yellow;
		}
.contact-us 	{
		background: yellow;
		}
.indexdesc 	{
		background: yellow;
		}
.content	{
		background: yellow;
		}

address {
	font-weight: bold;
	font-size: 25px;
	margin: 2px 0px 2px 0px;
	color: #071a38;
	text-align: center;
	}

.footer {
	text-align: center;
	font-size: 25px;
	font-weight: bold;
	color: #0daa79;
	}